
__pycache__/pose.cpython-39.pyc
__pycache__/network.cpython-39.pyc
__pycache__/graphics.cpython-39.pyc
__pycache__/constants.cpython-39.pyc
.idea/vcs.xml
.idea/misc.xml
.idea/AprilTags.iml
.idea/misc.xml
.idea/AprilTags.iml
.idea/misc.xml
.idea/AprilTags.iml
.idea/misc.xml
.idea/AprilTags.iml
